body{
  background-color: olive;
  font-family: arial, helvetica, sans-serif;
    margin: 10% 20%;
}

.info-header{
  text-align: center;
  border-bottom: 3px solid;
 
}

.Prof-header{
  border-bottom: 3px solid;
  }

.exp-header{
  border-bottom: 3px solid;
}



