body{
  background-image: url("https://t4.ftcdn.net/jpg/05/81/59/61/360_F_581596130_SYR8NdzWPQuCiJHsxhDXVHT2M0AKRr9U.jpg");
  background-size: cover;
  color: white;
  background-color: olive;
  font-family: arial, helvetica, sans-serif;
    margin: 10% 20%;
}

.info-header{
  text-align: center;
  border-top: 4px solid;
  border-bottom: 2px solid;
  background: rgba(128,0,0, 0.4);
}

.Prof-header{
  background: rgba(128,0,0, 0.4);
  border-top: 2px solid;
  border-bottom: 2px solid;
  }

.exp-header{
   background: rgba(128,0,0, 0.4);
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.education-header{
    background: rgba(128,0,0, 0.4);
  border-top: 2px solid;
  display: grid;
  gap: 0.5rem;
  border-bottom: 4px solid;
}







