body{
  background-image: url("https://live.staticflickr.com/4908/32490740718_99d6418667_b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-color: olive;
  font-family: arial, helvetica, sans-serif;
    margin: 10% 20%;
}

.info-header{
  text-align: center;
  border-top: 4px solid;
  border-bottom: 2px solid;
  background: rgba(128,0,0, 0.2);
}

.Prof-header{
  background: rgba(128,0,0, 0.2);
  border-top: 2px solid;
  border-bottom: 2px solid;
  }

.exp-header{
   background: rgba(128,0,0, 0.2);
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.education-header{
    background: rgba(128,0,0, 0.1);
  border-top: 2px solid;
  display: grid;
  gap: 0.5rem;
  border-bottom: 4px solid;
}
